/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}

.header{
    height: 85px;
    background:  rgb(255, 255, 255);
}
.header a{
    background-image: url(picture03/弘光科技大學01.png);
    width: 317px;
    height: 80px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.menu{
    height: 110px;
    background: orange;
}
.menu ul{
    display: flex;
    padding-left: 300px;
}
.menu li{
    width: 150px;
    text-align: center;
    background: orange;
}
.menu li a{
    display: block;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 50px;
    color: #000;
    text-decoration: none;
}
.menu li a:hover{
    padding-bottom: 24px;
    border-bottom: #000 6px solid;
}
.menu li a:active{
    background: #000;
    color: orange;
}
.picture{
    display:flex
}
.picture img{
    padding-left: 5.5px;
}
.content{
    display: flex;
}
.school{
    width: 760px;
}
.school img{
    padding-left: 12px;
}
.school li{
    font-size: 40px;
    color: blue;
    line-height: 1.5;
    font-weight: bold;
    padding-left: 25px;
}
.outside{
    width: 759px;   
}
.content h2{
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: orangered;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}
.school img{
    padding-bottom: 15px;
}
.content h3{
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: orangered;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}
.content h4{
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: orangered;
    border-top: 3px #000 solid;
}
.outside p{
    font-size: 50px;
    padding-top: 10px;
    font-weight: bold;
}
.content a{
    padding-left: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    color: rgb(183, 37, 46);
    font-weight: bold;
}
.linerobot{
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 5px;
}